@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=NaPecZTRCLxvwo41b4gvzkXaRMH0TKwRIuj41QVXqZbhzQvpQcvaluINwVOmUVTyMIex9hP8v6-KkIbNIyZo3yjIVhn6wgQYa5slcJvIaDJYch1aHQwrn9TQ&skey=13c999d73b164fc8&v=v17) format('woff2');
}
