@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=XLYzIZb5bJNDGYxLBibeHZ0BnHwmuanx8cUaGX9aMOpGISYk7D_Z6wA9ws2SxptPTzpQykYIEG6AsaVVrpbriGS5mEQhat6S_IjHM8znrWBioHrIZcC5n_26HTnQEYY6mpprLrzTZA&skey=dafe25338141b30f&v=v35) format('woff2');
}
